h6{
    color: yellow;

}
 
h1{
color: green;
}

#list1{
    
    background-color: aquamarine;
}


.styled background{
    background-color: yellowgreen;
}

.my-link{
    background-color: aqua;
    border :2px  solid black;
}